<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body class=" bg-primary-subtle p-5">
    <section class="mt-5">
      <div class="container border border-primary">
        <div class="row bg-success-subtle">
          <div class="col-md-4 p-5">
            <h1>
              About Us
            </h1>
            <img src="images/IMG_20250623_133118033.jpg" class="img-fluid rounded-5" alt="">
          </div>
          <div class="col-md-8 p-5 border border-danger-subtle"><h6>
            <h1>
              Pune:
            </h1>Pune's vision is to be a vibrant, sustainable, and inclusive hub of economic growth and well-being, while preserving its cultural heritage. Its mission involves fostering collective action, channeling resources, and enabling collaboration between government, NGOs, corporations, and citizens to achieve this vision. The city's history is rich, with periods of rule by various dynasties like the Rashtrakutas, Satavahanas, and Yadavas, and later significant development under the Maratha Empire and the British Raj.PMC is actively involved in promoting cleanliness through initiatives like "Swachh Pune, Sundar Pune" and managing waste, sewage, and healthcare.
Improving Infrastructure and Traffic Management:
PMC is working on improving roads, developing cycle tracks, and implementing the Pune Metro to enhance traffic flow.Collaboration and Collective Action:
PCC focuses on aligning efforts, channeling resources, and enabling collective action among various stakeholders (government, NGOs, corporations, and citizens) towards shared goals.
Enabling Collective Action:
PCC works with Pune Municipal Corporation (PMC) and Nasscom Foundation to implement digital literacy initiatives.
Promoting Cleanliness and Sanitation Sampoorna Pune, Every Life Enriched:
Pune City Connect (PCC) envisions a city where every individual can contribute and succeed. 
PMR as a vibrant, sustainable, and inclusive hub:
The Pune Metropolitan Region Development Authority (PMRDA) envisions a region that is economically prosperous, innovative, and where residents and businesses thrive.:</div>
        </div>
      </div>
    </section>
    <section>
      <div class="container border border-primary">
        <div class="row bg-success-subtle">
          <div class="col-md-3 border border-danger-subtle">
            <h2>Vision:</h2>
Sampoorna Pune, Every Life Enriched:
Pune City Connect (PCC) envisions a city where every individual can contribute and succeed. 
PMR as a vibrant, sustainable, and inclusive hub:
The Pune Metropolitan Region Development Authority (PMRDA) envisions a region that is economically prosperous, innovative, and where residents and businesses thrive.
          </div>
          <div class="col-md-3 border border-danger-subtle">
            <h2>Mission:</h2>
Collaboration and Collective Action:
PCC focuses on aligning efforts, channeling resources, and enabling collective action among various stakeholders (government, NGOs, corporations, and citizens) towards shared goals.
Enabling Collective Action:
PCC works with Pune Municipal Corporation (PMC) and Nasscom Foundation to implement digital literacy initiatives.
Promoting Cleanliness and Sanitation:
          </div>
          <div class="col-md-6 border border-danger-subtle">
            <h2>History:</h2>
Ancient and Medieval Periods:
Pune has a history dating back to the Rashtrakuta and Yadava dynasties. 
Maratha Empire:
Pune rose to prominence as the capital of the Maratha Empire under the Peshwas. 
British Raj:
After the fall of the Peshwa rule in 1818, Pune became a major British military hub and later a part of the Bombay Presidency. 
Modern Era:
The Pune Municipal Corporation was established in 1950, playing a key role in the city's development, especially after the Panshet flood of 1961. 
Smart City Mission:
Pune was selected as a Smart City, focusing on improving infrastructure, technology, and citizen services. 
Intellectual Hub:
Pune has a rich legacy in education, culture, and various industries, and the Pune International Centre (PIC) was established to foster intellectual engagement and policy dialogue.
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>